$font-primary: 'Arial', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

body {
  background-color: #000000;
}

.button {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  text-transform: uppercase;
  background-color: #fca311;
  border: none;
  border-radius: 5px;
  color: #14213d;
  font-family: $font-primary;
  font-size: 0.75rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }

  &:active {
    color: #fca311;
    background-color: #000000;
    border: 1px solid #fca311;
  }

  .button__label:hover {
    cursor: pointer;
  }
}

.header {
  height: 2.5rem;
  margin: 1rem 2.5rem;
}

.container {
  margin: 0 2.5rem;
}

.controls {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  width: 300px;

  .controls__form {
    display: flex;
    flex-direction: column;
    
    .controls__input-group {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      & > *:not(:first-child) {
        margin-left: 0.25rem;
      }

      .controls__input {
        height: 30px;
        border: 0;
        border-radius: 5px;
      }
    }

    .controls__input-group:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    .button {
      margin: 0;
    }
  }
}

.content {
  margin: 1rem 0;

  .content__header {
    font-family: $font-secondary;
    color: #e5e5e5;
    text-transform: capitalize;
  }
}

.car {
  margin: 1rem 0;
  border-bottom: 5px double #e5e5e5;

  svg {
    width: 100px;
  }

  img {
    width: 100px;
    margin: 0 100px 0 auto;
  }

  .button-engine {
    background-color: transparent;
    color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-size: 1.25rem;
    height: 30px;
    width: 30px;
    margin: 0 0.25rem 2rem 0;

    &.active {
      color: #fca311;
      background-color: #000000;
      border: 1px solid #fca311;
      cursor: auto;  
    }

    &:hover {
      cursor: pointer;
    }
  }

  .car__radio {
    display: none;

    &:checked ~ .button:first-of-type {
      color: #fca311;
      background-color: #000000;
      border: 1px solid #fca311;
    }
  }

  .car__header {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }

  .car__name {
    font-family: $font-secondary;
    color: #e5e5e5;
  }

  .car__engine {
    display: flex;
    align-items: flex-end;
  }
}

.popup {
  position: fixed;
  display: flex;
  z-index: 5;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.6s;
  
  .popup__body {
    padding: 2rem;
    display: flex;
    border: 1px double #e5e5e5;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 200px;
    cursor: auto;

   .popup__close {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    background-color: inherit;
    color: #e5e5e5;
    position: relative;
    left: 14%;
    top: -79%;
    transition: all 0.6s;

    &:hover {
      background-color: #e5e5e5;
      color: #000000;
      cursor: pointer;
    }
   }
  }

  .popup__content {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fca311;
  }
}

.table {
  color: #e5e5e5;
  border-collapse: collapse;
  margin: 1rem 0;

  .table__header {
    font-size: 1.15rem;
    font-family: $font-secondary;
    color: #14213d;
    background-color: #fca311;

    th {
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
    }

    #winnersNumberWins,
    #winnersBestTime {
      cursor: pointer;
    }
  }

  td {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-family: $font-primary;
    font-size: 1rem;
    text-align: center;
  }
}